{% extends 'my_bootstrap3.html' %}
{% load bootstrap3 %}
{% block bootstrap3_content %}

<!-- Second navbar for sign in -->
<!-- Second navbar for sign in -->
<nav class="navbar navbar-default navbar-fixed-top" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                <span>
                    <a class="navbar-brand"><i class="fa fa-newspaper-o"></i> RSS News</a>
                </span>
        </div>
        <div class="navbar-right">
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/login">Log in</a></div>
            <div class="navbar-text"><a class="btn btn-default btn-xs" href="/signup">Sign up</a></div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

{% if post.id == 0 %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-12"></div>
        <h1>{{ post.title }} </h1>
        <div class="btn-group">

            <a class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add Favorite
            </a>

            <a class="btn btn-sm btn-default" href="/post/{{next_id}}">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Next post
            </a>
        </div>

        <div class="well" style="background: #FFFFFF">
            <p>{{ post.text}}</p>
        </div>

    </div>
</div>

{% elif post.id == max_id %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-12"></div>
        <h1>{{ post.title }} </h1>
        <div class="btn-group">

            <a class="btn btn-sm btn-default" href="/post/{{previous_id}}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous post
            </a>

            <a class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add Favorite
            </a>

        </div>

        <div class="well" style="background: #FFFFFF">
            <p>{{ post.text}}</p>
        </div>

    </div>
</div>

{% else %}

<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-12"></div>
        <h1>{{ post.title }} </h1>
        <div class="btn-group">

            <a class="btn btn-sm btn-default" href="/post/{{previous_id}}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous post
            </a>

            <a class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add Favorite
            </a>

            <a class="btn btn-sm btn-default" href="/post/{{next_id}}">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Next post
            </a>
        </div>

        <div class="well" style="background: #FFFFFF">
            <p>{{ post.text}}</p>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}

{% block add_script %}

{% endblock %}